@import "tailwindcss";

:root {
  --bg-primary: #1A1A1A;
  --bg-secondary: #2A2A2A;
  --bg-tertiary: #3A3A3A;
  --bg-button: #505050;
  --border-primary: #3A3A3A;
  --text-primary: #E0E0E0;
  --text-secondary: #B0B0B0;
  --text-muted: #9A9A9A;
}

@layer base {
  html, body {
    height: 100%;
  }

  .font-outfit {
    font-family: "Outfit", sans-serif;
  }

  .font-inter {
    font-family: var(--font-geist-sans), "Inter", sans-serif;
  }
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
}
